<h1>Eat-Da-Burger</h1>

<h2>On the Menu</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block food=true}}
        {{/unless}}
    {{/each}}
</ul>

<h2>In My Tummy</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block food=false}}
        {{/if}}
    {{/each}}
</ul>

<form class="create-form">
    <div class="form-group">
{{!--         <label for="burga">Enter the Burger You Would Like to Eat</label> --}}
        <textarea type="text" id="burga" name="burga" placeholder="Burger Name Here"></textarea>
    </div>
    <button type="submit">Add Burger</button>
</form>