h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#burger {
    display: block;
    margin: auto;
}

#menu {
    float: left;
    margin-left: 10%;
}

/* #menu-list {
    margin-left: auto;
} */

#eaten {
    float: right;
    margin-right: 10%;
}

/* #eaten-list {
    margin-right: auto;
} */

li {
    line-height: 1.5;
    list-style-type: none;
}

#burger-form {
    text-align: center;
    clear: both;
}