h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#burger {
    display: block;
    margin: auto;
}

#menu {
    float: left;
    margin-left: 10%;
}

#menu-list {
    margin-left: 0;
    padding-left: 0;
}

#eaten {
    float: right;
    margin-right: 10%;
}

#eaten-list {
    margin-left: 0;
    padding-left: 0;
}

li {
    line-height: 1.5;
    list-style-type: none;
}

#burger-form {
    text-align: center;
    clear: both;
}

.eat-burger {
    float: right;
    margin-left: 10px;
}

.delete-burger {
    float: right;
    margin-left: 10px;
}